[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
environs = {version = "==8.0.0", extras = ["django"]}
python-dotenv = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
